$color-white: #ffffff;

$color-primary: #506a85;
$color-secondary: #00bb9c;
$color-secondary-dark: #00a187;

$color-bg: #2f4052;
$color-bg-light: #f6f7fb;
$color-bg-dark: #293646;

$color-grey: #b1b1b1;

$color-p: $color-primary;
$color-p-light: #d6d6d6;
$line: 2px solid #eee;
